.board-wrapper {
    height: 440px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.status {
    font-size: x-large;
    text-align: center;
}

.board {
    height: 300px;
    background-color: var(--b2);
    display: flex;
    justify-content: center;
}

.menu {
    color: var(--b01);
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#rulesButton {
    color: var(--blue);
    font-size: x-large;
    font-family: monospace;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.rectangle {
    font-size: large;
    background-color: var(--b2);
    padding: 0 10px 10px 10px;
    margin: 10px;
}