.board-wrapper {
    height: 800px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: xx-large;
}

.status {
    font-size: x-large;
    text-align: center;
}

.board {
    display: flex;
    background-color: var(--b2);
    align-items: center;
    justify-content: center;
    height: 600px;
}

.cell {
    font-size: xxx-large;
    border: 1px solid #555;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.menu {
    color: var(--b01);
    width: 100%;
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#rulesButton {
    color: var(--blue);
    font-size: x-large;
    font-family: monospace;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.rectangle {
    font-size: large;
    background-color: var(--b2);
    padding: 0 10px 10px 10px;
    margin: 10px;
}