.board-wrapper {
    height: 800px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.status {
    font-size: x-large;
    text-align: center;
}

.board {
    background-color: var(--b2);
    display: flex;
    justify-content: center;
    height: 600px;
}

.pile {
    width: 60px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.pile-count {
    text-align: center;
    font-size: xx-large;
}

.token {
    background-color: var(--b01);
    width: 40px;
    height: 40px;
    margin: 10px;
    vertical-align: bottom;
}

.highlighted-token {
    background-color: var(--red);
    width: 40px;
    height: 40px;
    margin: 10px;
    vertical-align: bottom;
}

.menu {
    color: var(--b01);
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#rulesButton {
    color: var(--blue);
    font-size: x-large;
    font-family: monospace;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

.rectangle {
    font-size: large;
    background-color: var(--b2);
    padding: 0 10px 10px 10px;
    margin: 10px;
}